@use 'mixins';
@use 'vars';

/* ----------------------------------------------------- */
/* Общие стили */
/* ----------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}

:root {
    /* Эти переменные используются для динамического изменения контента на сайте, когда что-то меняется или двигается например */
    /* А так везде использовать импортированные переменные из _vars.scss */
    /* Отступы */
    --space: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: vars.$font-main;
    color: vars.$light-black-p;
    background-color: vars.$light-white-bg;
}

h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-weight: 500;
}

h2 {
    font-size: 2.75rem;
    line-height: 1.2;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    color: vars.$light-black-p;
}

ul, ol {
  list-style: none;
  text-decoration: none;
  font-style: normal
}

a {
    font-weight: 300;
    text-decoration: none;
    font-style: normal;
    color: vars.$light-black-p;
}

picture, img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    pointer-events: all;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

svg {
    vertical-align: middle;
}

button, .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    background-color: orange;
    transition: 0.1s;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: darkorange;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.09);
    transform: scale(1.1);
}

.container {
    max-width: 1500px;
    width: 100%;
    padding: 0 var(--space);
    margin: 0 auto;
}

section {
    margin: 50px 0;
}


/* ----------------------------------------------------- */
/* Общие стили для медиа Desktop First */
/* ----------------------------------------------------- */

/* 1399px и меньше */
@media (max-width: 1399px) {
  .container { max-width: 1320px; }
}

/* 1199px и меньше */
@media (max-width: 1199px) {
  .container { max-width: 1140px; }
}

/* 991px и меньше */
@media (max-width: 991px) {
  .container { max-width: 960px; }
}

/* 767px и меньше */
@media (max-width: 767px) {
  .container { max-width: 720px; padding: 0 10px; }
}

/* 575px и меньше */
@media (max-width: 575px) {
  .container { max-width: 100%; }
}









/* ----------------------------------------------------- */
/* Верх сайта */
/* ----------------------------------------------------- */
header {
    width: 100%;
    background-color: #e4e4e4;
    text-align: center;
}

.header__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__inner-main-info{
    display: flex;
    align-items: center;
}

.header__inner-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__inner-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20px;
}

.header__inner-title h1{
    font-size: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

/* 767px и меньше */
@media (max-width: 767px) {
  .header__inner-title { display: none; }
}










/* ----------------------------------------------------- */
/* Основной контент */
/* ----------------------------------------------------- */
main {
    margin: 0;
    padding: 0;
}

/* Раздел с тестовыми проектами */
/* .test-projects{
    
} */









/* ----------------------------------------------------- */
/* Низ сайта */
/* ----------------------------------------------------- */
footer { background: radial-gradient(at 0 0,#232325 6%,#17151e 90%); }

.footer__inner { padding-top: 20px; padding-bottom: 20px; }

footer h2, footer p, footer a { color: white; }