# Мои файлы
config.php
/for-test.html
/js/test.js


# Системные файлы
.DS_Store
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
Thumbs.db
.idea/


# Зависимости
/node_modules
/vendor
/.yarn/cache
/.pnpm-store


# Конфиги и env-файлы
*.env
*.env.local


# Сборка и артефакты
/dist
/dist-ssr
/build
*.local
*.tmp
.cache/
.parcel-cache/


# Логи и кэш
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs